extends layout 

block head 
  script(src="/javascripts/jquery-3.7.1.min.js")
  script(src="/javascripts/diaryEntryForm.js")

block content 
  .w3-container.w3-padding
    h2.w3-center Nova Entrada no Diário

    form(method="POST" class="w3-card w3-white w3-round-large w3-padding w3-margin-top")

      label(for="title" class="w3-text-grey") Título do Post
      input(class="w3-input w3-border w3-margin-bottom" type="text" id="title" name="title" required placeholder="Este é um título")

      label(for="desc" class="w3-text-grey") Descrição
      input(class="w3-input w3-border w3-margin-bottom" type="text" id="desc" name="desc" placeholder="Descrição")

      button(type="submit" class="w3-button w3-blue w3-round-large") Publicar
