extends layout 

block head 
    script(type="text/javascript", src="/javascripts/jquery-3.7.1.min.js")
    script(type="text/javascript", src="/javascripts/diaryEntryForm.js")

block content 
    form(method="POST") 
        label(for="title") Post Title
        input(type="text", id="title", name="title", required, placeholder="this is a title")

        label(for="desc") Description
        input(type="text", id="desc", name="desc", placeholder="Description")

        button(type="submit") Post