extends layout 

block head 
  style.
    .truncate {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

block content 
  .w3-card-4.w3-margin-bottom
    header.w3-container.w3-teal
      h1 Lista de Entradas

  .w3-container
    table.w3-table-all.w3-hoverable.w3-margin-top
      thead
        tr(class="w3-light-grey")
          th Título    
          th Descrição
          th Data de Criação
      tbody
        each item in diaryEntries
          tr
            td.truncate= item.title
            td.truncate= item.description
            td= item.creationDate

    // Botão para criar nova entrada
    div(class="w3-margin-top")
      a(href="/diary/create", class="w3-button w3-blue w3-round") Nova Entrada
