extends Layout 

block content 
    form.flex-vertical(method="POST", href="/users/login")
        label(for="uname") Username
        input(type="text", placeholder="Username", required, id="uname", name="uname")
        label(for="password") Password
        input(type="password", required, id="password", name="password")
        button(type="submit") Submit form