extends layout

block content
  div(class="w3-container w3-padding-32")
    h2(class="w3-center") Iniciar Sessão

    form(class="w3-container w3-card w3-white w3-round-large w3-padding" method="POST" action="/users/login")
      
      label(for="uname" class="w3-text-grey") Username
      input(class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Username" required id="uname" name="uname")

      label(for="password" class="w3-text-grey") Palavra-passe
      input(class="w3-input w3-border w3-margin-bottom" type="password" required id="password" name="password")

      button(class="w3-button w3-green w3-round-large w3-hover-teal" type="submit") Entrar
